In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key
from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nyurba,RU,2021-12-02 00:43:11,63.2842,118.3319,-20.31,96,100,2.17
1,1,Tateyama,JP,2021-12-02 00:43:11,34.9833,139.8667,57.09,47,1,11.79
2,2,Scottsboro,US,2021-12-02 00:43:13,34.6723,-86.0341,58.26,66,90,3.44
3,3,Rock Sound,BS,2021-12-02 00:43:13,24.9000,-76.2000,77.76,67,6,12.33
4,4,Rabaul,PG,2021-12-02 00:43:13,-4.1967,152.1721,83.73,73,99,6.40

In [3]:
#Get the dtypes of the data 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use the Google API Key 
gmaps.configure(api_key=g_key)

In [5]:
#Heatmap of temp
#Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#Get the max temp 
temperature = city_data_df['Max Temp']
temp= []

#replaced by code in line 15 using list comprehension
# for temp in temperature:
#     temps.append(max(temp,0))

#Assign the figure variable and adjust the size 
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.7)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations,weights=[max(temp,0)for temp in temperature],
                                 dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Heatmap of % Humidity
#Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#Get the max temp 
humidity = city_data_df['Humidity']

#Assign the figure variable and adjust the size 
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.7)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,
                                 dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of % Cloudiness
#Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#Get the max temp 
clouds = city_data_df['Cloudiness']

#Assign the figure variable and adjust the size 
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.7)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations,weights = clouds,
                                 dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of Wind Speed
#Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#Get the max temp 
wind_speed = city_data_df['Wind Speed']

#Assign the figure variable and adjust the size 
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.7)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations,weights = wind_speed,
                                 dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask the customer to add the min and max temmperature value 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
#Filter the dataset to find preferred cities

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<=max_temp) &
                                      (city_data_df['Max Temp']>=min_temp)]
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rock Sound,BS,2021-12-02 00:43:13,24.9000,-76.2000,77.76,67,6,12.33
4,4,Rabaul,PG,2021-12-02 00:43:13,-4.1967,152.1721,83.73,73,99,6.40
7,7,Piacabucu,BR,2021-12-02 00:43:15,-10.4056,-36.4344,78.51,81,86,13.13
8,8,Gamba,GA,2021-12-02 00:43:15,-2.6500,10.0000,76.46,92,100,4.52
15,15,Nelson Bay,AU,2021-12-02 00:43:18,-32.7167,152.1500,77.95,74,1,8.14
...,...,...,...,...,...,...,...,...,...,...
534,534,Banikoara,BJ,2021-12-02 00:58:10,11.2985,2.4386,75.38,21,100,4.99
542,542,Lazaro Cardenas,MX,2021-12-02 00:56:27,17.9583,-102.2000,79.02,80,0,4.32
543,543,Angoche,MZ,2021-12-02 00:58:15,-16.2325,39.9086,77.07,88,0,5.57
550,550,Barahona,DO,2021-12-02 00:58:17,18.2085,-71.1008,78.49,78,56,5.75
551,551,Luanda,AO,2021-12-02 00:58:17,-8.8368,13.2343,77.00,94,75,3.44

In [11]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [12]:
#Heatmap of temp
#Get the latitude and longitude
locations = preferred_cities_df[['Lat','Lng']]
#Get the max temp 
temperature = preferred_cities_df['Max Temp']
temp= []

#replaced by code in line 15 using list comprehension
# for temp in temperature:
#     temps.append(max(temp,0))

#Assign the figure variable and adjust the size 
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.7)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations,weights=[max(temp,0)for temp in temperature],
                                 dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Rock Sound      BS     77.76  24.9000  -76.2000
4       Rabaul      PG     83.73  -4.1967  152.1721
7    Piacabucu      BR     78.51 -10.4056  -36.4344
8        Gamba      GA     76.46  -2.6500   10.0000
15  Nelson Bay      AU     77.95 -32.7167  152.1500
16  Amalapuram      IN     77.38  16.5833   82.0167
17    Vung Tau      VN     76.21  10.3460  107.0843
20      Olinda      BR     82.13  -8.0089  -34.8553
21     Atambua      ID     84.04  -9.1061  124.8925
24     Rikitea      PF     76.51 -23.1203 -134.9692

In [14]:
#Create search URL 
search_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

#Set hotel search parameters
params= {'radius':10000,
        "type":'lodging',
        "key":g_key}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

   
    # Make request and get the JSON data from the search.
    hotels = requests.get(search_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found.....skipping")

Hotel not found.....skipping
Hotel not found.....skipping
Hotel not found.....skipping

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rock Sound,BS,77.76,24.9000,-76.2000,Stella di Mare
4,Rabaul,PG,83.73,-4.1967,152.1721,Rabaul Hotel
7,Piacabucu,BR,78.51,-10.4056,-36.4344,Piaçabuçu News
8,Gamba,GA,76.46,-2.6500,10.0000,Laguna guest house
15,Nelson Bay,AU,77.95,-32.7167,152.1500,Mantra Nelson Bay
16,Amalapuram,IN,77.38,16.5833,82.0167,swayamprabha service apartments
17,Vung Tau,VN,76.21,10.3460,107.0843,Green hotel
20,Olinda,BR,82.13,-8.0089,-34.8553,Hotel Albergue de Olinda
21,Atambua,ID,84.04,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
24,Rikitea,PF,76.51,-23.1203,-134.9692,People ThankYou

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
#Heatmap of temp
#Get the latitude and longitude
locations = hotel_df[['Lat','Lng']]
#Get the max temp 
temperature = hotel_df['Max Temp']


#Assign the figure variable and adjust the size 
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.7)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations,weights=temperature,
                                 dissipating=False,max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
#Add the heatmap layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))